@import "tailwindcss";
:root{
    --dark-blue:#071738;
    --blue:#22304C;
    --orange:#FAAD1B;
    --black:#0c0c0c;
    --gray:#242424;
}
.clip-tri{
    clip-path: polygon(100% 10%,100% 100%,0% 100%);
}
.outlined-text {
  color: transparent;               
  -webkit-text-stroke: 1px white;     
  font-weight: bold;
  transform: rotate(270deg);           
}
