@import "tailwindcss";
:root{
    --blue:#22304C;
    --orange:#FAAD1B;
    --black:#0c0c0c;
    --gray:#242424;
}
.clip-tri{
    clip-path: polygon(100% 10%,100% 100%,0% 100%);
}
.clip-sec{
    clip-path: polygon(0% 0%,100% 0%,100% 80%,30% 100%,0% 100%);
}
.clip-img{
    clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 80%);
}